<ion-content>
  <ion-header [mode]="mode" translucent>
    <ion-toolbar [mode]="mode" color="primary">
      <ion-title class="title-text">Confirmation</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="text-container">
    <p class="text">A confirmation code was sent to your email. 
      Please enter the code below to complete your registration.
    </p>
  </div>

  <form [formGroup]="confirmationForm">
    <ion-item [mode]="mode">
      <ion-label [mode]="mode" position="floating">Email</ion-label>
      <ion-input [mode]="mode" placeholder="example@gmail.com" formControlName="email"></ion-input>
    </ion-item>
    <ion-item [mode]="mode">
      <ion-label [mode]="mode" position="floating">Code</ion-label>
      <ion-input [mode]="mode" formControlName="code"></ion-input>
    </ion-item>
    <div class="button-container">
      <ion-button [mode]="mode" class="btn" type="submit" expand="block" fill="solid" (click)="confirmSignUp()">Confirm</ion-button>
      <ion-button [mode]="mode" class="btn" type="submit" expand="block" fill="solid" (click)="cancel()">Cancel</ion-button>
    </div>
  </form>
</ion-content>