<ion-header [mode]="mode">
  <ion-toolbar [mode]="mode" color="primary">
    <ion-buttons slot="start">
      <ion-back-button [mode]="mode" class="back-btn" defaultHref="menu"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-text">Family Counseling</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1 class="header-text">Get the Most out of Life</h1>
  <p class="content-text">Feeling like everyone in the house is at each other’s throat and there is little
    respect for anyone. It can be very helpful to seek guidance from a therapist who
    can be objective and not take sides. I help families learn to work together and
    communicate how they are feeling. I work with the very fluid dynamic of families
    and how they ebb and flow. In some cases clash and help everyone have a voice.
  </p>
  <ul>
    <li>Blending Family Adjustments</li>
    <li>Behavioral Issues</li>
    <li>Academic Concerns in Children</li>
    <li>Divorce & Divorce Adjustments</li>
    <li>Grief Counseling</li>
  </ul>
</ion-content>