@import '../../theme/colors.scss';

img {
    width: 70%;
}

.logo-container {
    padding: 15px;
    text-align: center;
}

.amplify-form-button {
    background-color: color(secondary);
}

.button-container {
    margin: 20px;
}

a {
    margin: 10px;
}

.btn {
    --color-hover: color(secondary);
}