@import '../../theme/colors.scss';

img {
    width: 70%;
}

.logo-container {
    margin-top: 15px;
    padding: 15px;
    text-align: center;
}

.button-container {
    margin: 25px;
    text-align: center;
}

a {
    margin: 10px;
}

.btn {
    --background-hover: rgb(85, 197, 85);
    width: 150px;
    margin: 15px;
}

.credential-container {
    margin: 20px;
}

.action-btn-container {
    display: flex;
    text-align: center;
}

.reset {
    display: block;
}

.reset-container {
    margin: 15px;
    display: inline-block;
}