<ion-content>
	<div class="logo-container">
		<img src="/assets/img/logo.png" alt="">
	</div>

	<form [formGroup]="loginForm" (ngSubmit)="signIn()">
		<ion-item>
			<ion-label position="floating">Username</ion-label>
			<ion-input formControlName="email" placeholder="example@gmail.com" type="email"></ion-input>
		  </ion-item>
		  <ion-item>
			<ion-label position="floating">Password</ion-label>
			<ion-input formControlName="password" placeholder="password" type="password"></ion-input>
		  </ion-item>
		  <div class="button-container">
			<ion-item (click)="rememberMe()">
				<ion-label>Remember Me</ion-label>
				<ion-toggle id="toggle" mode="ios" slot="start" [checked]="checked" (ionChange)="rememberMe($event)"></ion-toggle>
			  </ion-item>			
			<ion-button class="btn" type="submit" expand="block" fill="solid" >Login</ion-button>
			<ion-button expand="block" fill="solid" (click)="register()">Register</ion-button>
			<a (click)="presentForgotUsernameModal()">Forgot Username?</a>
			<a (click)="presentForgotPasswordModal()">Forgot Password?</a>
		  </div>
	</form>
</ion-content>