<ion-content>
	<div class="logo-container">
		<img src="/assets/logo.png" alt="">
	</div>

	<!-- <amplify-authenticator [signUpConfig]="signUpConfig" framework="ionic"></amplify-authenticator> -->

	<form [formGroup]="loginForm">
		<ion-item>
			<ion-label position="floating">Username</ion-label>
			<ion-input formControlName="email" placeholder="example@gmail.com" type="email"></ion-input>
		  </ion-item>
		  <ion-item>
			<ion-label position="floating">Password</ion-label>
			<ion-input formControlName="password" placeholder="password" type="password"></ion-input>
		  </ion-item>
		  <div class="button-container">
			<ion-button type="submit" expand="block" fill="solid" (click)="login()">Login</ion-button>
			<ion-button type="submit" expand="block" fill="solid" (click)="register()">Register</ion-button>
			<a (click)="presentForgotUsernameModal()">Forgot Username?</a>
			<a (click)="presentForgotPasswordModal()">Forgot Password?</a>
		  </div>
	</form>
</ion-content>