<ion-content class="ion-padding">
  

        <!-- option menu -->
        <ion-menu side="end" type="overlay" contentId="main-content" menuId="option">
          <ion-header [mode]="mode" translucent="true">
            <ion-toolbar class="ios" [mode]="mode" color="primary">
              <ion-title>Menu</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <ion-nav>
              <ion-list [mode]="mode" inset="true" *ngFor="let option of options">
                <ion-item [mode]="mode" (click)="navigate(option.route)" button>
                  <ion-label class="menu-text">{{option.title}}</ion-label>
                  <ion-icon [name]="option.icon"></ion-icon>
                </ion-item>
              </ion-list>
            </ion-nav>
          </ion-content>
        </ion-menu>

        <div class="ion-page" id="main-content">
          <ion-header [mode]="mode">
            <ion-toolbar class="ios" [mode]="mode" color="primary">
              <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
              </ion-buttons>
              <ion-title>
                <div class="logo-container">
                  <img class="logo-header" src="assets/img/logo.png" alt="">
                </div>
              </ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <app-home></app-home>
          </ion-content>
        </div>
   
</ion-content>