
  <ion-app>

    <!-- option menu -->
    <ion-menu side="end" contentId="main-content" menuId="option">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-nav>
          <ion-list *ngFor="let option of options">
            <ion-item  (click)="navigate(option.route)" button>
              <ion-label class="menu-text">{{option.title}}</ion-label>
              <ion-icon [name]="option.icon"></ion-icon>
            </ion-item>
          </ion-list>
        </ion-nav>
      </ion-content>
    </ion-menu>

  <!-- profile menu -->
    <!-- <ion-menu side="start" contentId="main-content" menuId="profile">
      <ion-header>
        <ion-toolbar translucent>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item class="menu-text" button>Profile</ion-item>
          <ion-item class="menu-text" button>My Appointments</ion-item>
          <ion-item class="menu-text" button (click)="signOut()">Sign Off</ion-item>
        </ion-list>     
      </ion-content>
    </ion-menu> -->

    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar mode="ios" color="primary">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <!-- <ion-buttons slot="start">
            <ion-menu-button (click)="signOut()">
              Log Out
            </ion-menu-button>
          </ion-buttons> -->
          <ion-title>
            <div class="logo-container">
              <img class="logo-header" src="assets/img/logo.png" alt="">
            </div>
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <app-home></app-home>
      </ion-content>
    </div>
  </ion-app>


 




