<ion-header [mode]="mode" translucent>
  <ion-toolbar [mode]="mode" color="primary">
    <ion-buttons slot="start">
      <ion-back-button [mode]="mode" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-text">Forms</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1>New Patient Forms</h1>

  <div>
    <h2>Prior to your Appointment</h2>
    <p>​
      Be sure to call the toll free number on the back of your health insurance 
      card to find out if your plan includes mental health benefits. If mental 
      health benefits are covered, ask for the following information:
    </p>
    <ul>
      <li>Number of sessions covered per benefit period</li>
      <li>Amount of the deductible and co-pay</li>
      <li>Authorization needed for your appointment</li>
    </ul>
    <p>After you’ve completed your New Intake Forms, please submit them in 
      order to schedule your appointment. You will need to bring your health 
      insurance card and photo identification as well.
    </p>
  </div>

  <div>
    <h2>What to Expect at Your First Appointment</h2>
    <p>Regardless of the type of service, your first appointment is a time to 
      meet with your treatment provider and discuss your concerns. The first 
      appointment is a time for a thorough evaluation and you will likely be 
      asked a good deal of factual information about yourself. This might include 
      things like the reason you’re seeking treatment, what your symptoms are, 
      history of past problems and treatment, medical history, past use of drugs 
      and alcohol, and how some of the important areas in your life are going (
      work, family, hobbies, etc.). This is also a time for you to evaluate your 
      treatment provider in order to ensure that you feel comfortable with the 
      person and the setting.
    </p>
  </div>

  <div>
    <h2>First Session Information & Important Paperwork</h2>
    <p>Because counseling involves a professional relationship, we need to agree on the 
      terms of our work together.
      <b class="alert">Please complete a New Client Form, Child or Adult Intake Form 
        (if applicable), Communications Agreement, Consent & Confidentiality Agreement, 
        Credit Card Authorization Form & Late Cancellation/Missed Appointment Policy 
        and bring the forms in to our office at your first appointment or email the forms. 
      </b>
      Please provide your photo identification and health insurance card when presenting 
      the forms. If you have any questions and/or require clarification, please be sure 
      to ask us.
    </p>
    
    <ul>
      <li><a (click)="openAdultIntake()">Adult Intake Form</a></li>
      <li><a (click)="openNewClient()">New Client Form</a></li>
      <li><a (click)="openChild()">Child/Adolescent Intake Form</a></li>
      <li><a (click)="openConsentAgreement()">Consent & Confidentiality Agreement </a></li>
      <li><a (click)="openCoupleIntake()">Couples Intake Form</a></li>
      <li><a (click)="openReleaseInfo()">Authorization to Release Information Form</a></li>
      <li><a (click)="openCreditCard()">Credit Card Authorization Form </a></li>
      <li><a (click)="openCommunicationAgreement()">Communication Agreement</a></li>
      <li><a (click)="openConsentTELEPSYCHOLOGY()">Consent for Telepsychology</a></li>
      <li><a (click)="openPremaritalIntakeForm()">Premarital Counseling </a></li>

    </ul>
  </div>

  <div>
    <h2>Late Cancellation/ Missed Appointment Policy</h2>
    <p>Our current late cancellation/missed appointment policy is unique 
      to psychotherapy practices. We ask that you read it and consider it
       carefully to reduce the chance of misunderstandings that may hinder 
       your progress in therapy.
    </p>
    <ul>
      <li><a (click)="openLateCancellation()">Late Cancellation/Missed Appointment Policy</a></li>
    </ul>
  </div>

  <div>
    <h2>Download for your Reference</h2>
    <ul>
      <li><a (click)="openHippa()">HIPAA/Privacy Notice</a></li>
      <li><a (click)="openSocialMedia()">Social Media Policy </a></li>
    </ul>
  </div>

  <div>
    <h2>School-Based Services</h2>
    <p>If you would like to participate in school-based counseling services, 
      complete both forms and submit a copy of the forms to our office and 
      to the client's school for their records.
    </p>
    <ul>
      <li><a (click)="openExchangeConfidential()">Authorization to Exchange Confidential Information</a></li>
      <li><a (click)="openSchoolColab()">School Collaboration Consent Form</a></li>
    </ul>
  </div>
</ion-content>