<ion-header [mode]="mode">
    <ion-toolbar [mode]="mode" color="primary">
      <ion-buttons slot="start">
        <ion-back-button [mode]="mode" defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title class="title-text">Fees</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <h1>Insurance and Rates:</h1>

    <h2>Licensed Masters-Level Clinician</h2>
    <p>$125 per 60-Minutes Intake Session  (Insurance and Self-Pay)</p>
    <p>$110 per 45-Minutes Session (Insurance Only)</p>
    <p>$80 per 45-Minutes Session (Self-Pay Only)</p>

    <h2>Masters-Level Clinician Under Supervision</h2>
    <p>$100 per 60-Minutes Intake Session  (Self-Pay Only)</p>
    <p>$65 per 45- Minute Session (Self-Pay Only)</p>

    <h2>Couples/Family Counseling:</h2>
    <p>$110 per 50- Minutes Session (Insurance and Self-Pay)</p>

    <h2>Adolescent Groups:</h2>
    <p>$35 per group member/session per 60-Minutes Session (Self-Pay Only)</p>

    <h2>Workshops, Consultations, and Mental Speaking Engagements: Please contact our office for pricing.</h2>

    <h2>Payment</h2>
    <p>Acceptable forms of payment include cash, check, and the following credit 
      cards (Visa, Mastercard, Discover, and American Express). Please note that 
      there is a 4% convenience fee on credit card transactions to cover the cost 
      of this secure and convenient payment service. We will provide, upon request, 
      a receipt of payment.
    </p>

    <h1>Insurance:</h1>
    <p>In-network insurance: Billing rate of $110/session
        If you have one of the following providers, you may be eligible for 
        mental health benefits, which we can bill directly. We accept the following 
        providers, in-network:
      </p>
      <ul>
        <li>Magellan Behavioral Health</li>
        <li>CareSource</li>
        <li>Peach State Health Plan Medicaid Behavioral Health</li>
        <li>Cenpatico</li>
        <li>Allwell from Peach State Health Plan</li>
        <li>Ambetter from Peach State Health Plan</li>
        <li>Amerigroup</li>
        <li>Tricare East</li>
        <li>Aetna</li>
        <li>Beacon Health</li>
        <li>Blue Cross Blue Shield of Georgia</li>
        <li>Blue Cross Blue Shield Federal Employee Program</li>
        <li>Out of Network</li>
      </ul>

      <p>It is possible that your insurance company may reimburse for services 
        rendered based on your Out-of-Network benefits.
      </p>

      <p>Here are a list of questions you can ask your insurance provider:</p>
      <ol>
        <li>What are my “Out-of-Network, Out-Patient, Mental Health Benefits” when seeing
           a Licensed Professional Counselor (Insurance companies sometimes distinguish 
           between Psychiatrist, Psychologist, and Mental Health Counselor or Associate. 
           Make sure you specify that you will be seeing an outpatient Licensed Professional 
           Counselor)
          </li>
          <li>Do I need a referral from my Primary Care Provider (PCP) to receive Mental 
            Health services?
          </li>
          <li>Do I have a deductible, coinsurance, or copayment?</li>
          <li>Have I met my deductible this year? When does my deductible restart?</li>
          <li>Does Pre-Certification apply? (Does the insurance company have to 
            approve the treatment prior to starting therapy?)
          </li>

          <p>
              In the event that you are unable to keep an appointment, you must notify your 
              therapist at least 24 hours in advance by email or phone. If such advance notice
               is not received, you will be financially responsible for the session you missed.
                The fee is paid in full at the end of each session.
          </p>
      </ol>
  </ion-content>