<ion-content>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button class="back-btn" (click)="dismiss()" defaultHref="/appointments"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-text">Booking</ion-title>
  </ion-toolbar>
  <!-- no schedule -->
  <div class="err-content" *ngIf="noData">
    <p>No schedule available at this time.</p>
  </div>
  <ion-list *ngFor="let item of data">
    <ion-item button (click)="book(item)">
      <div class="list-item">
        <p>{{item.date}}</p>
        <p>{{item.location}}</p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>