
@function color($key) {
    @if map-has-key($palette, $key) {
        @return map-get($palette, $key);
    }
}

$palette: (
    primary: white,
    secondary: rgb(68, 158, 68),
    secondary-light: rgb(85, 197, 85),
    light: rgb(168, 168, 168),
    white: white,
    dark: black
)
