@import './colors.scss';

.title-text {
    font-style: italic;
    font-family: Apple Chancery;
    color: color(dark)
}

.menu-text {
    font-style: italic;
    font-family: Apple Chancery;
    color: color(dark)
}

.menu-header-text {
    font-style: italic;
    font-family: Apple Chancery;
    font-weight: bold;
}