<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title class="title-text">Outreach</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <p>
        Here at We Climb Counseling & Consulting, we are dedicated to serving
         the community through various community outreach initiatives. We Climb 
         Counseling & Consulting would love to work with your organization on its 
         next event. For information on how to reach us, please click on the contact tab. 
    </p>
    <ul>
      <li>Motivational Speaking</li>
      <li>Career Day</li>
      <li>Community Partnerships</li>
      <li>Public and Private Schools Partnerships</li>
      <li>Mental Health Awareness Seminars</li>
      <li>Mental Health Training & Workshops</li>
      <li>Community & School Suicide Prevention Training</li>
      <li>Community & School Crisis Intervention Training</li>
    </ul>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <img src="/assets/outreach1.jpeg" alt="">
      </ion-slide>
      <ion-slide>
        <img src="/assets/outreach2.jpeg" alt="">
      </ion-slide>
    </ion-slides>
  </ion-content>