<ion-header [mode]="mode" translucent>
  <ion-toolbar [mode]="mode" color="primary">
    <ion-buttons slot="start">
      <ion-back-button [mode]="mode" class="back-btn" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-text">Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <div class="personal-info-container">
      <h1>Personal Information</h1>
      <p>Name: {{user?.name}} {{user?.family_name}}</p>
      <p>Phone Number: {{user?.phone_number}}</p>
      <p>Email: {{user?.email}}</p>
    </div>
    <div  class="appointment-container">
      <div class="user-container" *ngIf="admin == false">
        <h1>My Appointment</h1>
        <ion-item [mode]="mode" *ngFor="let appt of appts">
          <div>
            <p>Name: {{appt?.name}}</p>
            <p>Date: {{appt?.date}}</p>
            <p>Duration: {{appt?.duration}}</p>
            <p>Counselor: {{appt?.counselor}}</p>
            <p>Price: {{appt?.price}}</p>
            <p>Location: {{appt?.location}}</p>
          </div>
        </ion-item>
      </div>

      <!-- admin -->
      <div class="admin-container" *ngIf="admin">
        <h1>My Schedule</h1>
        <ion-list [mode]="mode" >
          <ion-item [mode]="mode" *ngFor="let appt of appts">
            <div class="candidate-info-container">
              <p>Date: {{appt.date}}</p>
              <p>Client Name: {{appt?.candidateFirstName}} {{appt?.candidateLastName}}</p>
              <p>Phone: 666-666-6666</p>
            </div>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>

  <div class="button-container">
    <ion-button [mode]="mode" *ngIf="admin" shape="round" fill="outline" (click)="setCalendar()">Set Calendar</ion-button>
    <!-- <ion-button *ngIf="role == 'admin'" shape="round" fill="outline" (click)="logOut()">Add Admin</ion-button> -->
    <ion-button [mode]="mode" shape="round" fill="outline" (click)="logOut()">Signout</ion-button>
  </div>
</ion-content>