<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button class="back-btn" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-text">Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="dataLoaded()">
    <div class="personal-info-container">
      <h1>Personal Information</h1>
      <p>Name: {{user?.firstName}} {{user?.lastName}}</p>
      <p>Phone Number: {{user?.phone}}</p>
      <p>Email: {{user?.email}}</p>
      <p>Role: {{user?.role}}</p>
    </div>
    <div  class="appointment-container">
      <div class="user-container" *ngIf="role == 'user'">
        <h1>My Appointment</h1>
        <div *ngFor="let appt of appts">
          <p>Name: {{appt?.name}}</p>
          <p>Date: {{appt?.date}}</p>
          <p>Duration: {{appt?.duration}}</p>
          <p>Counselor: {{appt?.counselor}}</p>
          <p>Price: {{appt?.price}}</p>
          <p>Location: {{appt?.location}}</p>
        </div>
      </div>

      <!-- admin -->
      <div class="admin-container" *ngIf="role == 'admin'">
        <h1>My Schedule</h1>
        <ion-list >
          <ion-item *ngFor="let appt of appts">
            <div class="candidate-info-container">
              <p>Date: {{appt.date}}</p>
              <p>Client Name: {{appt?.candidateFirstName}} {{appt?.candidateLastName}}</p>
              <p>Phone: 666-666-6666</p>
            </div>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>

  <div class="loading-container" *ngIf="!dataLoaded()">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>
</ion-content>