<ion-content class="ion-padding">
  <div class="header-container ">
    <h1>Forgot Password</h1>
  </div>
  <form [formGroup]="passwordForm" (ngSubmit)="forgotPasswordRequest()">
    <ion-item [mode]="mode">
      <ion-label [mode]="mode" position="floating">Email</ion-label>
      <ion-input [mode]="mode" type="text" formControlName="email"></ion-input>
    </ion-item>
    <ion-item [mode]="mode" *ngIf="codeSent">
      <ion-label [mode]="mode" position="floating">Code</ion-label>
      <ion-input [mode]="mode" type="text" formControlName="code"></ion-input>
    </ion-item>
    <ion-item [mode]="mode" *ngIf="codeSent">
      <ion-label [mode]="mode" position="floating">New Password</ion-label>
      <ion-input [mode]="mode" type="password" formControlName="password"></ion-input>
    </ion-item>
    <div class="button-container">
      <ion-button [mode]="mode" *ngIf="!codeSent" type="submit" class="btn" fill="solid">Submit</ion-button>
      <ion-button [mode]="mode" *ngIf="codeSent" class="btn" fill="solid" (click)="forgotPasswordSubmit()">Submit</ion-button>
			<ion-button [mode]="mode" class="btn" fill="solid" (click)="cancel()">Cancel</ion-button>
    </div>
  </form>
</ion-content>