<ion-header [mode]="mode">
    <ion-toolbar [mode]="mode" color="primary">
      <ion-buttons slot="start">
        <ion-back-button [mode]="mode" defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title class="title-text">School Based Services</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <h1 class="title">School Consultation</h1>
    <p class="text">We strive to create a collaborative environment which includes our experts, 
      school staff and family members. By working together, we can create instructional 
      and behavioral plans that are tailored to each individuals unique needs maximizing 
      growth in communication, development, and independence.
    </p>
    <p class="text">
        The long-term objective is for school personnel to be able to independently
         provide effective intervention. Services to school districts are designed 
         specifically for each system’s needs. Services cover a wide range of professional 
         development plans, district wide program development, classroom support and 
         staff training, and individual student support consultations.
    </p>
    <p class="text">School Services Include:​</p>
    <ul>
      <li>Professional development</li>
      <li>Developing educational programs and meaningful IEPs</li>
      <li>Implementing research based practice in the classroom</li>
      <li>Development and implementation of functional behavior assessments (FBAs) and behavior intervention plans (BIPs)</li>
      <li>Social skills groups</li>
      <li>Advocacy during IEP/504 meetings</li>
      <li>Intervention in early childhood and community based settings</li>
      <li>Bullying and suicide prevention training</li>
    </ul>

    <h1 class="title">School-Based Outpatient Counseling</h1>
    <p class="text">
        We want to help students discover their greatness by providing traditional
         outpatient therapy within the school walls.  Our school-based program targets 
         elementary and secondary-level students with emotional and/or behavioral needs. 
         Students can be referred for services by either school personnel and/or parents.  
    </p>
    <p class="text">
        Students receiving therapy within the school are much more likely to 
        consistently participate in treatment than those who must travel to an 
        outside facility during after-school hours due to a reduction in:
    </p>
    <ul>
      <li>Missed Appointments</li>
      <li>Transportation Issues</li>
      <li>Limited Parental Involvement</li>
    </ul>
  </ion-content>
