<ion-header [mode]="mode">
    <ion-toolbar [mode]="mode" color="primary">
      <ion-buttons slot="start">
        <ion-back-button [mode]="mode" defaultHref="home"></ion-back-button>
        <!-- <button (click)="back()">back</button> -->
      </ion-buttons>
      <ion-title class="title-text">Team</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <ion-card [mode]="mode">
    <div class="img-container">
        <img src="/assets/img/Avery.png" alt="">
    </div>
    <ion-card-header [mode]="mode">
        <ion-card-title [mode]="mode" class="img-title">Avery Rosser, LPC</ion-card-title>
      </ion-card-header>
      <ion-card-content [mode]="mode" color="primary">
        <p>
            Founder, We Climb Counseling and Consulting LLC. Avery earned a Master of 
            Science degree in Community Counseling as well as a Post Masters of School 
            Counseling from Columbus State University. He has completed advanced 
            training in Collaborative Couples Training, Eye Movement Desensitization and 
            Reprocessing (EMDR), Motivational Interviewing (MI), and Parent Management 
            Training (PMT). Avery is a Licensed Professional Counselor, Board Certified 
            Counselor and Certified School Counselor in the State of Georgia. 
        </p>
        <p>
            Avery has over six years of counseling experience with a wide range of clients 
            in a variety of treatment settings. These have included providing counseling in 
            a psychiatric hospital, public education system K-12, inpatient, and partial 
            hospital settings, and currently with the US Department of Veterans Affairs as 
            well as his own outpatient practice. He also is a part of his church counseling 
            department.
        </p>
        <p>
            Avery has a broad and unique base of experience counseling children and adolescents. 
            Areas of emphasis with children include mood disorders, posttraumatic stress disorder, 
            conduct disorder, and attention deficit hyperactive disorder. Avery also has significant
             experience working with children and adolescents who have experienced developmental 
             delays, varying degrees of trauma, various types of physical and/or sexual abuse, 
             abandonment and/or neglect, as well as dysfunctional family systems.
        </p>
      </ion-card-content>
  </ion-card>

  <ion-card [mode]="mode">
    <div class="img-container">
        <img src="/assets/img/Keshara.png" alt="">
    </div>
      <ion-card-header [mode]="mode" class="span">
          <ion-card-title [mode]="mode" class="img-title">Keshara Rosser, MSW</ion-card-title>
        </ion-card-header>
        <ion-card-content [mode]="mode">
          <p>
              Co-Founder, We Climb Counseling & Consulting LLC. Keshara earned a Master of 
              Social Work from the University of Alabama. Keshara completed her internship 
              experience  at Georgia Center for Child Advocacy where she served as forensic 
              intern and family advocate to ensure that a child's non-offending caregivers 
              feel supported during the investigation process. Keshara completed her practicum 
              experience with Pathways Transition Program where she conducted outpatient 
              school-based counseling.  Keshara's area of focus is working with adolescents, 
              teens, young adults, and families that struggle with anxiety, depression and trauma.                
          </p>
        </ion-card-content>
    </ion-card>

    <ion-card [mode]="mode">
      <div class="img-container">
          <img src="/assets/img/Bryan.png" alt="">
      </div>
        <ion-card-header [mode]="mode" class="span">
            <ion-card-title [mode]="mode" class="img-title">Bryan Armstead Jr., BA </ion-card-title>
          </ion-card-header>
          <ion-card-content [mode]="mode">
            <p>
                Intern, We Climb Counseling & Consulting LLC. Bryan earned a Bachelor of Art 
                in Spanish from Morehouse College and is currently pursing a Master of Social 
                Worker from the University of Georgia. Bryan is the founder of Apollo Sports 
                Counseling, Inc., a nonprofit organizations that aims to equip high school and 
                legiate student-athletes with mental health knowledge from the area of sports.  
                Bryan's focus is geared towards completing intake assessments and working with 
                student-athletes in a individual and group capacity. 
            </p>
          </ion-card-content>
      </ion-card>
  
</ion-content>