<ion-content fullscreen>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button>
          <ion-back-button class="back-btn" defaultHref="profile"></ion-back-button>
        </ion-button>
      </ion-buttons>
      <ion-title>Add to Calendar</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="openCalendarModal()"> 
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="appt-container">
    <ion-item *ngFor="let appt of appts">
      <p>{{appt.name}} {{appt.date}}</p>
    </ion-item>
  </div>
  
  <div class="btn-container">
    <ion-button shape="round" fill="solid" (click)="submit()">Submit</ion-button>
  </div>
</ion-content>