    <ion-card class="card">
        <ion-card-header>
          <ion-card-header class="menu-text text">
            Services Provided
          </ion-card-header>
        </ion-card-header>
        <ion-card-content>
            <p>
                We offer services that equip our clients with tools for success. During your counseling sessions, 
                no matter if it’s Relationship Counseling, Family/Individual Counseling, Group Counseling, Anger 
                Management Classes, Adolescent Counseling or Career Coaching, we  always provide personalized 
                attention to help each client identify their personal values, strengths, and abilities in support 
                of their personal and professional goals. The goal of We Climb Counseling and Consulting, is to 
                create a supportive environment in which clients can explore their own emotional needs and overcome 
                barriers that limit their full potential by meeting each client where they are. 
            </p>
        </ion-card-content>
      </ion-card>
      <ion-list *ngFor="let service of services">
        <ion-item button (click)="navigate(service)">{{service.title}}</ion-item>
      </ion-list>