<div class="container">
  <div class="header-container">
    <h1>Registration</h1>
  </div>

  <form [formGroup]="registerForm">
    <ion-item [mode]="mode">
      <ion-label [mode]="mode" position="floating">First Name</ion-label>
      <ion-input [mode]="mode" type="string" placeholder="John" formControlName="firstName"></ion-input>
    </ion-item>
    <ion-item [mode]="mode">
      <ion-label [mode]="mode" position="floating">Last Name</ion-label>
      <ion-input [mode]="mode" type="string" placeholder="Doe" formControlName="lastName"></ion-input>
    </ion-item>
    <ion-item [mode]="mode">
      <ion-label [mode]="mode" position="floating">Email</ion-label>
      <ion-input [mode]="mode" type="email" placeholder="example@gmail.com" formControlName="email"></ion-input>
    </ion-item>
    <ion-item [mode]="mode">
      <ion-label [mode]="mode" position="floating">Phone</ion-label>
      <ion-input [mode]="mode" type="tel" placeholder="xxxxxxxxxx" formControlName="phone"></ion-input>
    </ion-item>
    <ion-item [mode]="mode">
      <ion-label [mode]="mode" position="floating">Password</ion-label>
      <ion-input [mode]="mode" type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-item [mode]="mode">
      <ion-label [mode]="mode" position="floating">Confirm Password</ion-label>
      <ion-input [mode]="mode" type="password" formControlName="confirmPassword"></ion-input>
    </ion-item>
    <ion-button [mode]="mode" type="submit" class="btn" fill="solid" [disabled]="!passwordMatch()" (click)="signUp()">Submit</ion-button>
    <ion-button  [mode]="mode" type="submit" class="btn" fill="solid" (click)="cancel()">Cancel</ion-button>
  </form>
</div>
