<ion-content class="ion-padding">
  <div class="header-container">
    <h1>Forgot Username</h1>
  </div>
  <form [formGroup]="usernameForm" (ngSubmit)="forgotUsername()">
    <ion-item [mode]="mode">
      <ion-label [mode]="mode" position="floating">Phone Number</ion-label>
      <ion-input [mode]="mode" type="text" formControlName="phone"></ion-input>
    </ion-item>
    <ion-item [mode]="mode">
      <ion-label [mode]="mode" position="floating">Last Name</ion-label>
      <ion-input [mode]="mode" type="text" formControlName="lastName"></ion-input>
    </ion-item>
    <div class="button-container">
			<ion-button [mode]="mode" type="submit" class="btn" fill="solid">Submit</ion-button>
			<ion-button [mode]="mode" class="btn" fill="solid" (click)="cancel()">Cancel</ion-button>
    </div>
  </form>

</ion-content>