<ion-content>
  <div class="header-container">
    <h1>Forgot Username</h1>
  </div>
  <form [formGroup]="usernameForm" (ngSubmit)="forgotUsername()">
    <ion-item>
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input type="text" formControlName="phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input type="text" formControlName="lastName"></ion-input>
    </ion-item>
    <div class="button-container">
			<ion-button type="submit" expand="block" fill="solid">Submit</ion-button>
			<ion-button expand="block" fill="solid" (click)="cancel()">Cancel</ion-button>
    </div>
  </form>

  <div class="username-container" *ngIf="loaded">
    <p>Your username is: {{username}}</p>
  </div>
</ion-content>